{% load bootstrap4 %}
{% load static %}

<script src="https://cdn.bootcss.com/wordcloud2.js/1.1.0/wordcloud2.js"></script>


<!-- Begin Page Content -->
<div class="container-fluid" id="home-container">

    <div class="row">

        <div class="col-xl-8 col-lg-7">


            <div class="card shadow mb-4" id="chart-card">
                <div class="card-header py-3">
                    <h2 class="m-0 font-weight-bold text-primary">Dashboard</h2>
                </div>
                <div class="card-body">
                    <div class="chart-area">

                        {% include "question_monitor/leaflet.html" %}
                        <hr>
                        <p> Wondering where <strong>Android</strong> questions are coming from? (Past week)</p>
                        <hr>
                        <canvas width="1550px" height="315rem"
                                id="word-cloud-canvas"></canvas>
                        <hr>
                        A word-cloud demonstrating the most related tags to <strong>Android</strong> over the past week.
                    </div>

                </div>
            </div>


        </div>
    </div>

</div>
<!-- /.container-fluid -->

<script src="{% static "vendor/Chart.min.js" %}"></script>
<script src="{% static "charts.js" %}"></script> <!-- this is our own chart-->
<script>

    $.get(location.origin + '/wordcloud/',
        function (data) {

            var options = eval({
                "list": data.data,
                "shape": "circle",
                "gridSize": 13, // size of the grid in pixels
                "weightFactor": 0.4, // number to multiply for size of each word in the list
                "fontWeight": 'bold', // 'normal', 'bold' or a callback
                "fontFamily": 'Times, serif', // font to use
                "color": 'random-light', // 'random-dark' or 'random-light'
                "backgroundColor": '#333', // the color of canvas
                "rotateRatio": 1 // probability for the word to rotate. 1 means always rotate
            });
            var canvas = document.getElementById('word-cloud-canvas');

            // this line is the only change from your snippet:

            WordCloud(canvas, options);
        });


</script>
