{% extends 'question_monitor/ui_base.html' %}
{% load bootstrap4 %}
{% load static %}


<!-- Here we inject the non UI part in each html template page -->
{% block main %}


    <!-- First list ten most voted questions of last week -->
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Dasaaaaaaaahboard</h1>
            <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                    class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
        </div>
    </div>













{% endblock %}