{% extends 'question_monitor/ui_base.html' %}
{% load bootstrap4 %}
{% load static %}


<!-- Here we inject the non UI part in each html template page -->
{% block main %}

    <!-- Essential css -->
    <link href=" {% static 'question.css' %} " rel="stylesheet" type="text/css">

    <!-- chart content Starts here -->

    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- chart content ends here -->

        {% include "question_monitor/charts.html" %}


    </div>






{% endblock %}