{% extends 'question_monitor/ui_base.html' %}
{% load bootstrap4 %}
{% load static %}
{% load index %}

<!-- Here we inject the non UI part in each html template page -->
{% block main %}

    <link href=" {% static 'question.css' %} " rel="stylesheet" type="text/css">
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading with a refresh button-->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Latest Questions on <strong>Android</strong> (Real Time) </h1>
            <button onClick="window.location.reload();" class="btn btn-primary"><span
                    class="glyphicon glyphicon-refresh"></span> Refresh
            </button>
        </div>

        <div class="row">
            {% for i in card_loop %}

                <!-- Now we have 10 boxes of identical size and style, ready to inject data -->

                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-primary shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters ">
                                <div class="col mr-2 stats">
                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Votes
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{ top_ten|index:forloop.counter0|index:0 }}</div>
                                    </div>
                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Answers
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{ top_ten|index:forloop.counter0|index:5 }}</div>
                                    </div>

                                    <a href="{{ top_ten|index:forloop.counter0|index:1 }}" target="_blank"
                                       title="Click here to StackOverflow"> <i class="fas fa-link fa-2x "></i></a>

                                </div>

                                <div class="col-auto q-title">
                                    <a data-toggle="modal"
                                       data-target="#exampleModalLong{{ top_ten|index:forloop.counter0|index:4 }}">

                                        <h2 id="clickable-title">
                                            <small>
                                                {{ top_ten|index:forloop.counter0|index:3 }}

                                                <div id="question_id"
                                                     hidden>{{ top_ten|index:forloop.counter0|index:4 }}</div>
                                            </small>
                                        </h2>
                                    </a>


                                </div>
                            </div>
                        </div>


                    </div>

                </div>
                <!-- Modal -->

                <div class="modal fade" id="exampleModalLong{{ top_ten|index:forloop.counter0|index:4 }}" tabindex="-1"
                     role="dialog"
                     aria-labelledby="exampleModalLongTitle" aria-hidden="true">

                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Q&A</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="rss-response" id="rss{{ top_ten|index:forloop.counter0|index:4 }}">

                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary">Vote this question!</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal -->
                <script type="text/javascript">
                    var question_id = "{{ top_ten|index:forloop.counter0|index:4}}";

                    $('#exampleModalLong{{ top_ten|index:forloop.counter0|index:4 }}').on('shown.bs.modal', function (e) {
                        e.preventDefault();
                        var question_id = "{{ top_ten|index:forloop.counter0|index:4}}";
                        $.get(location.origin + '/answers/',
                            {'question_id': question_id},
                            function (data) {
                                console.log(data.data.items[0][0]);
                                console.log(data.data.items.length);
                                let html_base = [];
                                html_base.push("<div id='modal-data-wrap'>" +
                                    "<i id='question-icon' class='fas fa-question question-icon'></i>" +
                                    "<div>" + data.data.items[0][0] + "</div>" +
                                    "<div>" + data.data.items[0][1] + "</div>" +
                                    "<div>" + data.data.items[0][2] + "</div>" + "</div>")
                                for (let e = 1; e < data.data.items.length; e++) {

                                    html_base.push("<div id='modal-data-wrap'>" +
                                        "<div>" + data.data.items[e][0] + "</div>" +
                                        "<div>" + data.data.items[e][1] + "</div>" +
                                        "<div>" + data.data.items[e][2] + "</div>" + "</div>")

                                    {% comment %}                         $('#rss{{ top_ten|index:forloop.counter0|index:4 }}').append("<div>" + data.data.items[e][0] + "</div>");
                                                             $('#rss{{ top_ten|index:forloop.counter0|index:4 }}').append("<div>" + data.data.items[e][1] + "</div>");
                                                             $('#rss{{ top_ten|index:forloop.counter0|index:4 }}').append("<div>" + data.data.items[e][2] + "</div>");
                                                             $('#rss{{ top_ten|index:forloop.counter0|index:4 }}').append("<div>--------------------------</div>");
                                                             $('#rss{{ top_ten|index:forloop.counter0|index:4 }}').append("<div>--------------------------</div>");{% endcomment %}

                                }
                                $('#rss{{ top_ten|index:forloop.counter0|index:4 }}').html(html_base.join(""))


                            }
                        );
                    });
                </script>
            {% endfor %}
        </div>
    </div>


    {##}
        {#               <script type="text/javascript">#}
        {#                            $('#exampleModalLong63342557').on('shown.bs.modal', function (e) {#}
        {#                                e.preventDefault();#}
        {#                                var question_id = "63342557";#}
        {#                                $.get(location.origin + '/answers/',#}
        {#                                    {'question_id': question_id},#}
        {#                                    function (response) {#}
        {##}
        {#                                        $('#response_msg').text(response.msg);#}
        {#                                    }#}
        {#                                );#}
        {#                            });#}
        {#                        </script>#}









{% endblock %}