{% load static %}

{% load leaflet_tags %}

{% leaflet_js plugins="heat" %}
{% leaflet_css %}
<!-- Here we initialize a heatmap object -->

{% leaflet_map "stackoverflow_hotspot" callback="window.map_init_basic" %}


<script>

    window.addEventListener("map:init", function (event) {
        var map = event.detail.map;
        $.get(location.origin + '/heatmap/',
            function (data) {
                var heat = L.heatLayer(
                    data.data
                    , {radius: 35}, {blur: 4}).addTo(map);

            })
    });
</script>