/*.row {
    This is the css that modifies specific page logic UI,
    as a extension to question_monitor.css.
}*/
.stats { /*This sets the cards to vertical stack*/
    width: 200px;
    padding-left: 20px !important;
}

.sidebar .sidebar-brand {
    height: 4.5rem;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 800;
    padding: 1.5rem 1rem;
    text-align: center;
    letter-spacing: 0.05rem;
    z-index: 1;
}

.q-title {

    padding-left: 100px !important; /* add a padding from left side*/
    width: 90%;
    font-size: 18px;
    font-weight: 600;
    font-synthesis: style;
    line-height: 1.6;
    color: #1a1a1a;
    margin-top: -4px;
    margin-bottom: -4px;
}

div#modal-data-wrap {
    border-left: 0.25rem solid #4e73df !important;
}

#clickable-title {

    cursor: pointer;
}

#question-icon {
    border-width: 0;

}

#modal-data-wrap {
    padding: 5px;
    border-radius: 15px;
    border-style: dotted;
    border-width: 1px;
    border-color: #4e73df;
    margin-bottom: 10px;

}

.col-xl-3 {
    flex: 0 0 100%

}

@media (min-width: 1200px) {
    .col-xl-3 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (min-width: 768px) {
    .col-md-6 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.mb-4, .my-4 {
    margin-bottom: 1rem !important;
}

.fa-link {


    margin-top: 10px;
!important;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 0.75rem;
!important;
}

#home-container {

    padding-left: 0 !important;
    padding-right: 0 !important;
}

canvas#word-cloud-canvas {
    margin-top: 50px;
    border: 1px solid;
    border-color: blue;
    border-radius: 15px;
    flex: 0 0 100%;
    max-width: 100%;
"
}

#chart-card {
    height: 850px;

}

.btn-primary {
    color: #fff;
    background-color: #4EB555;
    border-color: #4EB555;
}

.btn-primary:hover {
    color: #fff;
    background-color: #6EBF74;
    border-color: #6EBF74;
}

.btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background-color: #4EB555;
    border-color: #4EB555;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #4EB555;
    border-color: #4EB555;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem;
}

.btn-primary:focus, .btn-primary.focus {
    color: #fff;
    background-color: #4EB555;
    border-color: #4EB555;
    box-shadow: 0 0 0 0.2rem;
}


.bg-gradient-primary {
    background-color: #6EBF74;
    background-image: linear-gradient(180deg, #4EB555 10%, #6284ec 100%);
    background-size: cover;
}

.fa-info-circle {
    color: white;
    cursor: pointer;
}