/*.row {
    flex-direction: column;
}*/
.stats { /*This sets the cards to vertical stack*/
    width: 200px;
    padding-left: 20px !important;
}

.q-title {

    padding-left: 100px !important; /* add a padding from left side*/
    width: 90%;
    font-size: 18px;
    font-weight: 600;
    font-synthesis: style;
    line-height: 1.6;
    color: #1a1a1a;
    margin-top: -4px;
    margin-bottom: -4px;
}

#clickable-title {

    cursor: pointer;
}

#question-icon {
    border-width: 0;

}

#modal-data-wrap {
    padding: 5px;
    border-radius: 15px;
    border-style: dotted;
    border-width: 1px;
    border-color: #4e73df;
    margin-bottom: 10px;

}

.col-xl-3 {
    flex: 0 0 100%

}

@media (min-width: 1200px) {
    .col-xl-3 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (min-width: 768px) {
    .col-md-6 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.mb-4, .my-4 {
    margin-bottom: 1rem !important;
}

.fa-link {


    margin-top: 10px;
!important;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 0.75rem;
!important;
}
